<section class="w-100">
  <app-navbar></app-navbar>

  <article class="products-container container">
    
      <div class="card" *ngFor="let product of myShopping; let i = index">
        <img
          src="{{ urlImage }}{{ product.imagenes[0].nombre }}-med.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5
            class="card-title"
            data-toggle="tooltip"
            title="{{ product.nombre }}"
          >
            {{ product.nombre | titleTransform }}
          </h5>
          <p class="card-text">Cantidad: {{ product.cantidad }}</p>
        </div>
      </div>
  
  </article>

  <div class="empty-message" *ngIf="myShopping.length === 0">
    <h1>You have not made any purchase, please back to Products List and Add Products!</h1>
    <button
      type="button"
      class="btn btn-warning mt-5"
      (click)="goToProducstList()"
    >
      Keep Buying
    </button>
  </div>
</section>
