 
 
 .navbar-container{
    cursor: pointer;
 }
 .title-container{
    justify-content: center;
    width: auto;
} 
  
.navbar{
   background-color: #ffe600;;
}
.badge{
   font-size: small;
}
.nav-buttons{
   width: 20%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}