<div class="navbar-container">
  <nav class="navbar navbar-expand-lg">
    <!-- start Calendar -->
    <div class="calendar-container ms-3" *ngIf="isInChekOutPage">
      <form class="row row-cols-sm-auto">
        <div class="col-12">
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              [(ngModel)]="model"
              ngbDatepicker
              #d="ngbDatepicker"
              (ngModelChange)="sendSelectedDate()"
            />
            <button
              class="btn btn-outline-secondary bi bi-calendar3"
              (click)="d.toggle()"
              type="button"
            ></button>
          </div>
        </div>
      </form>
    </div>
    <!-- end Calendar -->

    <div class="container-fluid title-container">
      <a class="navbar-brand" (click)="goToProducstList()"
        >FACTOR IT ECOMMERCE</a
      >
    </div>
    <div class="me-5 nav-buttons" (click)="goToCart()">
      <button type="button" class="btn btn-primary" (click)="goToMyShoppings()">Shoppings</button>
      <button type="button" class="btn btn-secondary" (click)="logOut()">
        LogOut
      </button>
      <i
        class="bi bi-cart4 position-relative"
        style="font-size: 2rem; color: black"
      >
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          {{ cartItemsAmount }}
        </span>
      </i>
    </div>
  </nav>
</div>
